[#ftl]
<div class="nav-wrapper">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
    <ul id="nav"
        class="nav"
		data-slim-scroll
        data-collapse-nav
        data-highlight-active
        style="overflow: hidden; width: auto; height: 100%;">
		<!--
		 ! Home
		 !-->
		<li role="presentation"  > 
			<a href="/" >
	        	<i class="fa fa-home menuIcon"></i>  <!-- {{menu.dashboard}} --><span>Home</span>
	    	</a>
		</li>
		<!--
		 ! Indicadores -> IndicatorSearchController
		 !
		<li >
			<a data-ng-href="/app/indicator/" >
	        	<i class="fa fa-home"></i> {{menu.indicators}}</a>
		</li>-->
		[#if categories?seq_contains('J')]
		<!--
		 ! Atividades
		 !-->
		<li data-ng-class="{open: '${baseName}'=='report'}" >
			<a data-stats-totals-menu="report" data-ng-href="/report/"
			   data-ng-show="isAuthorized('PROJECT', 'READ')"
			   data-stats-bg="'bg-info'" data-menu-icon="'fa fa-thumb-tack'" data-menu-label="{{'_REPORT' | common}}">
			</a>
			<a data-ng-hide="isAuthorized('PROJECT', 'READ')" style="color: darkgrey; font-weight: bold;" >
				<i class="fa fa-thumb-tack menuIcon"></i> <span>{{'_REPORT' | common}}</span>
			</a>
		</li>
		[/#if]
		[#if categories?seq_contains('Q')]
		<!--
		 ! Ocorrências
		 !-->
		<li data-ng-class="{open: '${baseName}'=='request'}" >
            <a data-stats-totals-menu="request" data-ng-href="/request/" data-ng-show="isAuthorized('REQUEST', 'READ')"
               data-stats-bg="'bg-info'" data-menu-icon="'glyphicon glyphicon-bell'" data-menu-label="Ocorrências">
            </a>
			<a data-ng-hide="isAuthorized('REQUEST', 'READ')" style="color: darkgrey; font-weight: bold;" >
				<i class="glyphicon glyphicon-bell menuIcon"></i> <span>Ocorrências</span>
			</a>
		</li>
		[/#if]
		[#if categories?seq_contains('A')]
		<!--
		 ! Planos de ação
		 !-->
		<li data-ng-class="{open: '${baseName}'=='action'}" >
			<a data-stats-totals-menu="action" data-ng-href="/action/" data-ng-show="isAuthorized('ACTION', 'READ')"
			   data-stats-bg="'bg-info'" data-menu-icon="'fa fa-tasks'" data-menu-label="Planos de ação">
			</a>
			<a data-ng-hide="isAuthorized('ACTION', 'READ')" style="color: darkgrey; font-weight: bold;" >
	        	<i class="fa fa-tasks menuIcon"></i> <span>Planos de ação</span>
			</a>
		</li>
		[/#if]
		[#if categories?seq_contains('P')]
		<!--
		 ! Produtos 
		 ! -->
		<li data-ng-class="{open: '${baseName}'=='product'}" >
            <a data-stats-totals-menu="product" data-ng-href="/product/" data-ng-show="isAuthorized('PRODUCT', 'READ')"
               data-stats-bg="'bg-info'" data-menu-icon="'fa fa-barcode'" data-menu-label="Produtos">
            </a>
			<a data-ng-hide="isAuthorized('PRODUCT', 'READ')" style="color: darkgrey; font-weight: bold;" >
	        	<i class="fa fa-barcode menuIcon"></i> <span>Produtos</span>
			</a>
		</li>
		[#if categories?seq_contains('Y')]
		<!--
		 ! Ordens (e produtos)
		 ! -->
		<li data-ng-class="{open: '${baseName}'=='order'}" >
			<a data-ng-href="/order/" data-ng-show="isAuthorized('ORDER', 'READ')">
	        	<i class="fa fa-cogs menuIcon"></i> <span>Ordens</span>
			</a>
			<a data-ng-hide="isAuthorized('ORDER', 'READ')" style="color: darkgrey; font-weight: bold;" >
	        	<i class="fa fa-cogs menuIcon"></i> <span>Ordens</span>
			</a>
		</li>
		[/#if]
		[/#if]
		<!--
		 ! Conteúdo
		 !-->
		<li >
			<a data-stats-totals-menu="content" data-ng-href="/content/" data-ng-show="isAuthorized('DOCUMENT', 'READ')"
			   data-stats-bg="'bg-info'" data-menu-icon="'fa fa-book'" data-menu-label="Conteúdo">
			</a>
			<a data-ng-hide="isAuthorized('DOCUMENT', 'READ')" style="color: darkgrey; font-weight: bold;" >
				<i class="fa fa-book menuIcon"></i> <span>Conteúdo</span>
			</a>
		</li>
		<!--
		 ! Cursos
		 !-->
		<li >
			<a data-ng-href="/course/" data-ng-show="isAuthorized('COURSE', 'READ')"
			   data-stats-bg="'bg-info'" data-menu-icon="'glyphicon glyphicon-blackboard'" data-menu-label="Cursos">
			</a>
		</li>
		<!--
		 ! Scripts
		 !-->
		<li >
			<a data-stats-totals-menu="script" data-ng-href="/script/" data-ng-show="isAuthorized('SCRIPT', 'READ')"
			   data-stats-bg="'bg-info'" data-menu-icon="'fa fa-code'" data-menu-label="Scripts">
			</a>
		</li>
		[#if categories?seq_contains('I')]
		<!--
		 ! Instrumentos
		 !-->
		<li >
            <a data-stats-totals-menu="instrument" data-ng-href="/instrument/" data-ng-show="isAuthorized('INSTRUMENT', 'READ')"
               data-stats-bg="'bg-info'" data-menu-icon="'fa fa-tachometer'" data-menu-label="Instrumentos">
            </a>
			<a data-ng-hide="isAuthorized('INSTRUMENT', 'READ')" style="color: darkgrey; font-weight: bold;" >
	        	<i class="fa fa-tachometer menuIcon"></i> <span>Instrumentos</span>
			</a>
		</li>
		[/#if]
		[#if categories?seq_contains('M')]
		<!--
		 ! Manutenção
		 !-->
		<!--<li >-->
			<!--<a data-ng-href="/resource/" data-ng-show="isAuthorized('MAINTENANCE', 'READ')">-->
	        	<!--<i class="fa fa-wrench"></i> <span>Manutenção</span>-->
			<!--</a>-->
			<!--<a data-ng-hide="isAuthorized('MAINTENANCE', 'READ')" style="color: darkgrey; font-weight: bold;" >-->
	        	<!--<i class="fa fa-wrench menuIcon" ></i> <span>Manutenção</span>-->
			<!--</a>-->
		<!--</li>-->
		[/#if]
		<!--
		 ! Pessoas 
		 !-->
		<li >
            <a data-stats-totals-menu="user" data-ng-href="/user/"  data-ng-show="isAuthorized('USER', 'WRITE')"
               data-stats-bg="'bg-info'" data-menu-icon="'fi-torsos-all'" data-menu-label="Pessoas">
            </a>
			<a data-ng-hide="isAuthorized('USER', 'WRITE')" style="color: darkgrey; font-weight: bold;" >
	        	<i class="fi-torsos-all menuIcon"></i> <span>Pessoas</span>
			</a>
		</li>
        [#if categories?seq_contains('C')]
		<!--
		 ! Competências
		 !-->
		<li >
			<a data-ng-href="/competence/" data-ng-show="isAuthorized('COMPETENCE', 'READ')">
				<i class="fa fa-graduation-cap menuIcon"></i> <span>Competências</span>
			</a>
			<a data-ng-hide="isAuthorized('COMPETENCE', 'READ')" style="color: darkgrey; font-weight: bold;" >
				<i class="fa fa-graduation-cap menuIcon"></i> <span>Competências</span>
			</a>
		</li>
        [/#if]
        [#if categories?seq_contains('H')]
		<!--
		 ! Segurança e saúde ocupacional
		 !-->
		<li >
			<a data-ng-href="/safety/" data-ng-show="isAuthorized('HEALTH', 'READ')">
                <i class="fa fa-medkit menuIcon"></i> <span>Segurança e medicina</span>
			</a>
			<a data-ng-hide="isAuthorized('HEALTH', 'READ')" style="color: darkgrey; font-weight: bold;" >
                <i class="fa fa-medkit menuIcon"></i> <span>Segurança e medicina</span>
			</a>
		</li>
        [/#if]
		<!--
		 ! Contatos
		 !-->
		<li >
			<a  data-ng-href="/partner/" data-ng-show="isAuthorized('PARTNER', 'READ')">
	        	<i class="fi-address-book menuIcon"></i> <span>Contatos</span>
			</a>
			<a data-ng-hide="isAuthorized('PARTNER', 'READ')" style="color: darkgrey; font-weight: bold;" >
	        	<i class="fi-address-book menuIcon"></i> <span>Contatos</span>
			</a>
		</li>
		[#if categories?seq_contains('V')]
		<!--
		 ! Volumes
		 !-->
		<li >
			<a data-ng-if="isAuthorized('VOLUME', 'READ') || isAuthorized('ADMIN', 'READ')" data-ng-href="/volume/" >
				<i class="fa fa-archive menuIcon"></i> <span>Arquivo</span>
			</a>
		</li>
		[/#if]
		<!--
		 ! Categorias
		 !-->
		<li >
			<a data-ng-if="isAuthorized('CATEGORY', 'READ') || isAuthorized('ADMIN', 'READ')" data-ng-href="/category/" >
				<i class="fa fa-cog menuIcon"></i> <span>Ajustes</span>
			</a>
		</li>
		
    </ul>
	</div>
</div>
