<!DOCTYPE html>
<html >
    <head>
        <title>Login</title>
        <head>
            <meta content="text/html; iso-8859-1" http-equiv="content-type">
            <meta http-equiv="content-language" content="pt-BR" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
            <!-- Font awesome -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" crossorigin="anonymous">
        </head>
    </head>
    <body style="background-color: white; background-image: none;" >
        <div id="main" class="container">
            <div style="max-width: 360px;" data-ng-cloak >
                <div class="panel panel-default">
                    <!-- E-MAIL SIGNIN -->
                    <div class="panel-body">
                        <form  name="form" action="https://service.iservport.com/login" method="POST">
                            <input type="hidden" name="contextId" value="1" />
                            <div id="form-group-email" class="form-group">
                                <input type="email"  required="" name="username"  data-ng-model="username" placeholder="E-mail" class="form-control">
                            </div>
                            <div id="form-group-password" class="form-group">
                                <input type="password"  required="" name="password" data-ng-model="password" class="form-control">
                            </div>
                            <!--
                             ! Forgot password
                             !-->
                            <div class="row">
                                <div class="col-md-6">
                                    <p><input type="checkbox" name="remember-me" > Lembrar senha</p>
                                </div>
                                <div class="col-md-6">
                                    <a target="_self" class="pull-right" data-ng-href="/recovery/">Esqueceu sua senha?</a>
                                </div>
                            </div>
                            <!--
                             ! Submit
                             !-->
                            <button type="submit" class="btn btn-primary" style="width: 100%" >Continue</button>
                        </form>
                    </div><!-- panel body -->
                </div>
                <div class="row">
                    <div class="col-md-12 text-center"><p>Ou</p></div>
                </div>
                <div class="panel panel-default">
                    <!-- FACEBOOK SIGNIN -->
                    <div class="panel-body">
                        <form name="fb_signin" action="https://service.iservport.com/signin/facebook" method="POST" class="ng-pristine ng-valid">
                            <input type="hidden" name="scope" value="public_profile, email, user_photos,publish_actions,user_location">
                            <button type="submit" class="btn btn-default btn-facebook btn-block" ><i class="fa fa-facebook"></i> Login com Facebook</button>
                        </form>
                    </div>
                    <div class="panel-body">
                        <form name="fb_signin" action="https://service.iservport.com/signin/google" method="POST" class="ng-pristine ng-valid">
                            <input type="hidden" name="_csrf" value="${_csrf.token}" />
                            <input type="hidden" name="scope" value="email https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.me https://www.googleapis.com/auth/tasks https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/latitude.all.best" />
                            <input type="hidden" name="request_visible_actions" value="http://schemas.google.com/AddActivity http://schemas.google.com/BuyActivity http://schemas.google.com/CheckInActivity http://schemas.google.com/CommentActivity http://schemas.google.com/CreateActivity http://schemas.google.com/DiscoverActivity http://schemas.google.com/ListenActivity http://schemas.google.com/ReserveActivity http://schemas.google.com/ReviewActivity http://schemas.google.com/WantActivity"/>
                            <input type="hidden" name="access_type" value="offline"/>
                            <button type="submit" class="btn btn-default btn-google-plus btn-block" ><i class="fa fa-google-plus"></i> Login com Google+</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5><a class="pull-right" href="https://service.iservport.com/signup/">Ainda n&atilde;o possui acesso?</a></h5>
                        <h5 style="font-weight: bold;">Crie uma conta</h5>
                    </div>
                </div>
            </div>
        </div><!-- #main -->
    </body>
</html>